/* width */
@import "root.css";

body {
  margin: 0;
  padding: 0;
}

.header {
  width: auto;
  height: 80px;
  display: flex;
  border-radius: 0.3rem;
  background-color: var(--color-primary);
  overflow: hidden;
  justify-content: space-around;
}

.nav {
  height: 100%;
  width: 50%;
  display: flex;
}
.userNav {
  height: 100%;
  width: 25%;
  display: flex;
}
.dropDown {
  display: none;
}
.nav-item {
  height: 100%;
  width: 35%;
  font-size: 1.2rem;
  color: var(--color-white);
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.5s ease;
}
.getHeader {
  width: 100%;
  display: flex;
  height: 80px;
  display: flex;
  border-radius: 0.3rem;
  background-color: var(--color-primary);
  overflow: hidden;
  justify-content: space-around;
}
.userNav-item {
  height: 100%;
  width: 50%;
  font-size: 1.3rem;
  color: var(--color-white);
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.userProps {
  display: flex;
  width: 70%;
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    height: auto;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
  }
  .getHeader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dropDown {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: block;
    height: 38px;
  }
  .dropDown img {
    height: 35px;
    width: 35px;
    float: right;
    margin-right: 1rem;
  }
  .dropDown img:hover {
    cursor: pointer;
  }
  .nav {
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
  }
  .userNav {
    margin: 0 auto;
    padding-top: 1rem;
    width: 100%;
    flex-direction: column;
  }
  .nav-item {
    margin: 0 auto;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    flex-direction: column;
  }

  .userNav-item {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    width: 100%;
  }
}

.userNav-item:hover {
  cursor: pointer;
  background-color: var(--color-primary-hover);
}
.nav-item:hover {
  cursor: pointer;
  background-color: var(--color-primary-hover);
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}
