nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #191136;
  font-family: Helvetica;
}
.logo {
  color: rgb(226, 226, 266);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.5s;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 98vh;
    top: 8vh;
    background: #191136;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
