/* width */
@import "root.css";

body {
  margin: 0;
  padding: 0;
}

.header {
  width: auto;
  height: 80px;
  display: flex;
  border-radius: 0.3rem;
  background-color: var(--color-primary);
  overflow: hidden;
}

.nav-ico {
  height: 100%;
  width: 25%;
  display: flex;
}
.nav {
  height: 100%;
  width: 50%;
  display: flex;
}
.userNav {
  height: 100%;
  width: 25%;
  display: flex;
}
.nav-item {
  height: 100%;
  width: 33%;
  font-size: 1.3rem;
  color: var(--color-white);
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.userNav-item {
  height: 100%;
  width: 50%;
  font-size: 1.3rem;
  color: var(--color-white);
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.userProps {
  display: flex;
  width: 70%;
  margin-left: auto;
}
.userNav-item:hover {
  cursor: pointer;
  border-left: 1px solid var(--color-primary-hover);
  border-right: 1px solid var(--color-primary-hover);
}
.nav-item:hover {
  cursor: pointer;
  border-left: 1px solid var(--color-primary-hover);
  border-right: 1px solid var(--color-primary-hover);
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}
