/* Developed by Leandro Safra
CSS FILE FOR ALL WOOD PROJECT
*/
@import "root.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--color-shape);
}

.page {
  position: relative !important;
  height: auto;
  min-height: 920px;
}

.iFrameHeader {
  width: 95%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  border: none;
  display: block;
  margin: 0 auto 15px auto;
}

.pageBody {
  width: 80%;
  padding-bottom: 30px;
  height: auto;
  margin: 0 auto 15px auto;
  background-color: var(--color-black);
  box-shadow: 0.1px 0.2px 5px 2px var(--color-borders);
  margin-top: 1rem;
}
.pageForm {
  width: 60%;
  padding-bottom: 30px;
  height: auto;
  margin: 0 auto 15px auto;
  background-color: var(--color-black);
  box-shadow: 0.1px 0.2px 5px 2px var(--color-borders);
  margin-top: 1rem;
}

.titleBody {
  width: 100%;
  color: var(--color-secondary);
  font-family: var(--font-family-always);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem 2rem 7px 2rem;
  justify-content: center;
}
.contentLeft {
  color: var(--color-text);
  font-family: var(--font-family-always);
  font-weight: var(--font-weight-text);
  margin-top: 3rem;
  width: 45%;

  margin-left: 3rem;
  text-align: justify;
  padding-bottom: 1.5rem;
}
.contentRight {
  color: var(--color-text);
  font-family: var(--font-family-always);
  font-weight: var(--font-weight-text);
  margin-top: 3rem;
  margin-inline-start: auto;
  width: 45%;
  margin-right: 3rem;
  text-align: justify;
  padding-bottom: 1.5rem;
}
.contentCenter {
  height: 5rem;
  width: 100%;
  color: var(--color-secondary);
  font-family: var(--font-family-always);
  font-weight: var(--font-weight-text);
  font-size: var(--font-text-size);
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
  width: 95%;
}
.necessary {
  color: var(--color-red);
  font-family: var(--font-family-always);
  font-weight: var(--font-weight-text);
  font-size: var(--font-text-size);
}
/*CSS RESPONSIVE FILE*/
@media screen and (max-width: 1096px) {
  .page {
    position: relative;
  }

  .contentLeft {
    margin: 0 auto;
    padding: 1.5rem;
    width: 95%;
  }
  .contentRight {
    margin: 0 auto;
    padding: 1.5rem;
    width: 95%;
  }

  .iFrameHeader {
    height: 24rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
.link {
  display: flex;
  font-family: var(--font-family-always);
  color: var(--color-soft-blue);
  font-weight: var(--font-weight-text);
  font-size: 14.5px;
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 1.5rem;
}
@media screen and (max-width: 810px) {
  .pageBody {
    width: 90%;
  }
  .pageForm {
    width: 90%;
  }
}
@media screen and (max-width: 550px) {
  .titleBody {
    padding: 2.5rem 2rem 7px 2rem;
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }
}
@media screen and (min-height: 1000px) {
  .page {
    height: 100vh;
  }
}
