/* Developed by Leandro Safra
CSS FILE FOR ALL WOOD PROJECT
*/
body {
  background-color: #1a1615;
}
.page {
  width: 100vw;
  height: 100vw;
}
.header {
  width: 100vw;
  height: 6vw;
  opacity: 40%;
  border-radius: 0.3rem;
  background-color: #300c38;
}
.nav {
  height: 100%;
  width: 70%;
  display: flex;
  margin: 0 auto;
}
.nav-item {
  height: 100%;
  width: 33%;
  font-size: 1.3rem;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.nav-item:hover {
  border-left: 0.01px solid purple;
  border-right: 0.01px solid purple;
  cursor: pointer;
}

.pageBody {
  max-width: 100vw;
  max-height: 100vw;
  width: 70%;
  height: auto;
  margin: 0 auto;
  background-color: black;
  opacity: 55%;
  margin-top: -10px;
  box-shadow: 0.1px 0.2px 5px 2px #300c38;
}

.titleBody {
  height: 2vw;
  width: 100%;
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.contentLeft {
  color: white;
  margin-top: 3rem;
  width: 45%;
  margin-left: 10px;
  text-align: justify;
}
.contentRight {
  color: white;
  margin-inline-start: auto;
  margin-top: 3rem;
  width: 45%;
  margin-right: 10px;
  text-align: justify;
  padding-bottom: 1.5rem;
}
