/* Developed by Leandro Safra
CSS FILE FOR ALL WOOD PROJECT
*/
body {
  background-color: var(--color-shape);
}
.page {
  width: 100vw;
  height: 100vw;
}

.iFrameHeader {
  width: 95%;
  height: 80px;
  border: none;
}

.pageBody {
  max-width: 100vw;
  max-height: 100vw;
  width: 70%;
  height: auto;
  margin: 0 auto;
  background-color: var(--color-black);
  box-shadow: 0.1px 0.2px 5px 2px var(--color-borders);
}

.titleBody {
  height: 5rem;
  width: 100%;
  color: var(--color-secondary);
  font-family: var(--font-family-always);
  font-weight: var(--font-weight-title);
  font-size: var(--font-title-size);
  line-height: 5rem;
  text-align: center;
  justify-content: center;
}
.contentLeft {
  color: var(--color-text);
  font-family: var(--font-family-always);
  font-weight: var(--font-weight-text);
  margin-top: 3rem;
  width: 45%;

  margin-left: 3rem;
  text-align: justify;
  padding-bottom: 1.5rem;
}
.contentRight {
  color: var(--color-text);
  font-family: var(--font-family-always);
  font-weight: var(--font-weight-text);
  margin-top: 3rem;
  margin-inline-start: auto;
  width: 45%;
  margin-right: 3rem;
  text-align: justify;
  padding-bottom: 1.5rem;
}
.contentCenter {
  height: 5rem;
  width: 100%;
  color: var(--color-secondary);
  font-family: var(--font-family-always);
  font-weight: var(--font-weight-text);
  font-size: var(--font-text-size);
  line-height: 5rem;
  text-align: center;
  justify-content: center;
}

:root {
  --color-background: #121214;
  --color-green: #04d361;
  --color-red: #e83f5b;
  --color-orange: #fd951f;
  --color-yellow: #f7df1e;
  --color-primary: #8257e6;
  --color-primary-hover: #9466ff;
  --color-secondary: #e1e1e6;
  --color-text: #a8a8b3;
  --color-support: #737380;
  --color-shape: #202024;
  --color-shape-hover: #29292e;
  --color-icons: #41414d;
  --color-borders: #323238;
  --color-black: #0d0d0f;
  --color-white: #fff;
  --font-family-always: Helvetica, Arial, sans-serif;
  --font-weight-text: 400;
  --font-weight-title: 700;
  --font-text-size: 18px;
  --font-title-size: 28px;
}
