/* CSS FOR FORMS */
@import "root.css";
.userForms {
  width: 90%;
  box-shadow: 0.1px 0.2px 5px 2px var(--color-borders);
  margin: 0 auto;
  height: auto;
  padding: 10px;
  padding-bottom: 25px;
}
.userFormsLittle {
  width: 50%;
  box-shadow: 0.1px 0.2px 5px 2px var(--color-borders);
  margin: 0 auto;
  height: auto;
  padding: 10px;
  padding-bottom: 25px;
}
.hugInputs {
  margin-top: 2.4rem;
  width: 100%;
  height: auto;
  margin-left: 1.5rem;
}
.hugInputsLittle {
  margin-top: 2.4rem;
  width: 100%;
  height: auto;
}
.inputName {
  font-family: var(--font-family-always);
  color: var(--color-secondary);
  font-weight: var(--font-weight-text);
  font-size: var(--font-text-size);
  margin-bottom: 0.6rem;
}

.inputText {
  border-radius: 2px;
  padding: 0 10px 0 12px;
  color: var(--color-shape);
  border: none;
  font-weight: var(--font-weight-text);
  margin: 0 auto;
  width: 95%;
  font-size: 15px;
  height: 2.2rem;
  overflow: hidden;
}
.inputTextLittle {
  border-radius: 2px;
  padding: 0 10px 0 12px;
  color: var(--color-shape);
  border: none;
  font-weight: var(--font-weight-text);
  margin: 0 auto;
  width: 100%;
  font-size: 15px;
  height: 2.2rem;
  overflow: hidden;
}
.centeredDiv {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 0.5rem 1rem 2rem 1rem;
}

/*
Buttons down Here
*/
.dangerButton {
  padding: 10px 1.7rem;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  background-color: transparent;
  font-size: 15px;
  font-weight: var(--font-weight-text);
  cursor: pointer;
  background-color: var(--color-soft-red);
  color: var(--color-white);
}

.dangerButton:hover {
  background-color: var(--color-high-red);
}

.warningButton {
  padding: 10px 1.7rem;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  background-color: transparent;
  font-size: 15px;
  font-weight: var(--font-weight-text);
  cursor: pointer;
  background-color: var(--color-high-yellow);
  color: var(--color-white);
}

.warningButton:hover {
  background-color: var(--color-soft-yellow);
}

.successButton {
  background-color: var(--color-soft-green);
  color: var(--color-white);
}

.successButton:hover {
  background-color: var(--color-high-green);
}

.outlineDanger {
  padding: 10px 1.7rem;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  background-color: transparent;
  font-size: 15px;
  font-weight: var(--font-weight-text);
  cursor: pointer;
  border: 1px solid var(--color-soft-red);
  color: var(--color-soft-red);
}

.outlineDanger:hover {
  background-color: var(--color-high-red);
  color: var(--color-white);
}

.outlineWarning {
  padding: 10px 1.7rem;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  background-color: transparent;
  font-size: 15px;
  font-weight: var(--font-weight-text);
  cursor: pointer;
  border: 1px solid var(--color-soft-yellow);
  color: var(--color-soft-yellow);
}

.outlineWarning:hover {
  background-color: var(--color-soft-yellow);
  color: var(--color-white);
}
.outlineSuccess {
  padding: 10px 1.7rem;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  background-color: transparent;
  font-size: 15px;
  font-weight: var(--font-weight-text);
  cursor: pointer;
  border: 1px solid var(--color-soft-green);
  color: var(--color-soft-green);
}

.outlineSuccess:hover {
  background-color: var(--color-high-green);
  color: var(--color-white);
}
@media screen and (max-width: 550px) {
  .centeredDiv {
    width: 80%;
  }
}
