<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS FILE -->
    <link rel="stylesheet" href="../css/headerStyles.css" />

    <title>Wood Store!</title>
  </head>
  <body>
    <!-- Page -->
    <!-- Header -->
    <div class="header">
      <div class="dropDown">
        <img src="../assets/dropdown.png" onClick="TurnHeader()" />
      </div>
      <div class="getHeader" id="getHeader">
        <div class="nav">
          <a
            href="../html/pageBase/produtos.html"
            class="nav-item"
            target="_top"
          >
            <div>
              <span>Produtos</span>
            </div>
          </a>
          <a href="../index.html" class="nav-item" target="_top">
            <div>
              <span>Quem Somos</span>
            </div>
          </a>
          <a href="../html/pageBase/ajuda.html" class="nav-item" target="_top">
            <div>
              <span>Ajuda</span>
            </div>
          </a>
        </div>
        <div class="userNav">
          <a
            href="../html/userForms/login.html"
            class="userNav-item"
            target="_top"
          >
            <div>
              <span>Login</span>
            </div>
          </a>
          <a
            href="../html/userForms/register.html"
            class="userNav-item"
            target="_top"
          >
            <div>
              <span>Cadastro</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
